{% extends "profile/perfil_base.html" %} {% block title %}Perfil | eBoi{%
endblock %} {% block styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/style-profile.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/style-home.css') }}"
/>
{% endblock %} {% block content %}
<section class="profile">
  <div class="profile-header">
    <h1>Perfil do Usuário</h1>
  </div>
  <div class="profile-info">
    <div class="profile-picture">
      <img
        src="{{ url_for('static', filename='images/profile-user.jpg') }}"
        alt="Foto de perfil"
      />
    </div>
    <div class="user-details">
      <h2>Nome: {{ usuario['nome'] }}</h2>
      <p>Email: {{ usuario['email'] }}</p>
      <p>Telefone: (41) 99776-8353</p>
      <p>Fazenda: Fazenda Feliz</p>
      <p>Localização: Curitiba - PR</p>
      <a href="/comando-remoto" class="btn-edit">Comando Remoto</a>
      <a href="/dados-tempo-real" class="btn-edit">Dados em tempo real</a>
    </div>
  </div>
</section>
{% endblock %}
