<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Login | eBoi{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style-login.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <script>
      toastr.options = {
        "closeButton": true,
        "progressBar": true,
        "positionClass": "toast-top-right",
        "timeOut": "3000"
      };
      {% for category, message in messages %}
        toastr["{{ category }}"]("{{ message }}");
      {% endfor %}
    </script>
    {% endif %} {% endwith %}

    <!-- Logo e link para página inicial -->
    <a href="/">
      <img
        src="{{ url_for('static', filename='images/logoeboi.png') }}"
        alt="Logo eBoi"
        class="logo"
      />
    </a>

    <!-- Conteúdo da página específico -->
    <div class="container">{% block content %}{% endblock %}</div>
  </body>
</html>
