<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | eBoi</title>
    <script>
      window.onload = function () {
        var flashMessage =
          document.getElementById("flash-message").dataset.message;
        var flashCategory =
          document.getElementById("flash-message").dataset.category;

        if (flashMessage) {
          alert(flashMessage);
        }
      };
    </script>
  </head>
  <body>
    <h1>Faça seu login aqui</h1>
    <div
      id="flash-message"
      data-message="{{ get_flashed_messages()[0] if get_flashed_messages() else '' }}"
      data-category="{{ get_flashed_messages(with_categories=True)[0][0] if get_flashed_messages(with_categories=True) else '' }}"
    ></div>

    <form action="/login" method="POST">
      <p>E-mail: <input type="email" name="email" id="email" required /></p>
      <p>Senha: <input type="password" name="senha" id="senha" required /></p>
      <p><input type="submit" value="Enviar" /></p>
    </form>
  </body>
</html>
