<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Usuário | eBoi</title>
</head>
<body>

    <h1>Registre-se aqui</h1>
    <form action="/registrar_usuario" method="POST">
        <p>Nome: <input type="text"  name="nome" id="nome" required></p>
        <p>E-mail: <input type="email"  name="email" id="email" required></p>
        <p>Senha: <input type="password"  name="senha" id="senha" required></p>
        <p><input type="submit" value="Enviar"></p>
    </form>
    
</body>
</html>
