<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}eBoi{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style-home.css') }}"
    />
    <script>
      function showLoginSuccess(message) {
        if (message) {
          alert(message);
        }
      }
    </script>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="logo">
          <a href="/"
            ><img
              src="{{ url_for('static', filename='images/logoeboi.png') }}"
              alt="Logo eBoi"
          /></a>
        </div>
        <ul class="menu">
          <li><a href="/">Início</a></li>
          <li><a href="/eboi/sobre-nos">Sobre nós</a></li>
          <li><a href="/eboi/cotar">Cotar</a></li>
          <li><a href="/eboi/faq">FAQ</a></li>
        </ul>

        {% if usuario_tipo == 'admin' %}
        <a href="/admin" class="btn-area-cliente">Área do Admin</a>
        {% else %}
        <a href="/eboi/perfil" class="btn-area-cliente">Área do Cliente</a>
        {% endif %}
      </nav>
    </header>

    <main>
      {% block content %}{% endblock %}
    </main>

    <!-- Flash messages -->
    {% block flash_messages %}
    {% with messages = get_flashed_messages() %} {% if messages %}
    <script>
      // Exibe a mensagem de sucesso, se houver
      showLoginSuccess("{{ messages[0] }}");
    </script>
    {% endif %} {% endwith %}
    {% endblock %}
  </body>
</html>
