<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}eBoi{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style-home.css') }}?v=1"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <script>
      toastr.options = {
        "closeButton": true,
        "progressBar": true,
        "positionClass": "toast-top-right",
        "timeOut": "3000"
      };
      {% for category, message in messages %}
        toastr["{{ category }}"]("{{ message }}");
      {% endfor %}
    </script>
    {% endif %} {% endwith %}

    <header>
      <nav class="navbar">
        <div class="logo">
          <a href="/"
            ><img
              src="{{ url_for('static', filename='images/logoeboi.png') }}"
              alt="Logo eBoi"
          /></a>
        </div>
        <ul class="menu">
          <li><a href="/">Início</a></li>
          <li><a href="#sobre-nos">Sobre nós</a></li>
          <li><a href="#cotar">Cotar</a></li>
          <li><a href="#faq">FAQ</a></li>
        </ul>

        {% if usuario_tipo %} {% if usuario_tipo == 'admin' %}
        <a href="/admin" class="btn-area-cliente">Área do Admin</a>
        {% else %}
        <a href="/eboi/perfil" class="btn-area-cliente">Área do Cliente</a>
        {% endif %}
        <a href="/auth/logout" class="btn-logout">Sair</a>
        {% else %}
        <a href="/auth/login"" class="btn-area-cliente">Já é um cliente?</a>
        {% endif %}
      </nav>
    </header>

    <main>{% block content %}{% endblock %}</main>

    <!-- Flash messages -->
    {% block flash_messages %} {% with messages = get_flashed_messages() %} {%
    if messages %}
    <script>
      // Exibe a mensagem de sucesso, se houver
      showLoginSuccess("{{ messages[0] }}");
    </script>
    {% endif %} {% endwith %} {% endblock %}
  </body>
</html>
