<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style-dados.css') }}"
    />
    <title>Dados em Tempo Real</title>
  </head>
  <body>
    <div class="container">
      <h1>Dados em Tempo Real</h1>
      <div class="data-block">
        <p><strong>Temperatura:</strong> {{ temperature if temperature is not none else "Indefinido" }} °C</p>
        <p><strong>Umidade:</strong> {{ humidity if humidity is not none else "Indefinido" }} %</p>
        <p><strong>Movimento Detectado:</strong> {{ motion if motion is not none else "Indefinido" }}</p>
        <p><strong>Coordenadas:</strong> {{ coordinates if coordinates is not none else "Indefinido" }}</p>
      </div>
      <button><a href="#">Atualizar</a></button>
    </div>
  </body>
</html>
