<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style-dados.css') }}"
    />
    <title>Dados em Tempo Real</title>
    <script>
      function atualizarPagina() {
        window.location.reload();
      }
    </script>
  </head>
  <body>
    <div class="container">
      <h1>Dados em Tempo Real</h1>
      <div class="data">
        <p><strong>Temperatura:</strong> {{ data['temperature'] if data['temperature'] is not none else "Indefinido" }} °C</p>
        <p><strong>Umidade:</strong> {{ data['humidity'] if data['humidity'] is not none else "Indefinido" }} %</p>
        <p><strong>Movimento Detectado:</strong> {{ data['motion'] if data['motion'] is not none else "Indefinido" }}</p>
        <p><strong>Coordenadas:</strong> {{ data['coordinates'] if data['coordinates'] is not none else "Indefinido" }}</p>
      </div>
      <button><a onclick="atualizarPagina()">Atualizar</a></button>
    </div>
  </body>
</html>
