body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

header {
  background-color: #007bff;
  padding: 15px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 40px;
}

.menu {
  list-style: none;
  padding: 0;
  display: flex;
}

.menu li {
  margin: 0 15px;
}

.menu a {
  color: white;
  text-decoration: none;
}

.btn-logout {
  background-color: #dc3545; /* Cor do botão de logout */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.admin-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.action-card {
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  width: 30%;
  transition: transform 0.2s;
}

.action-card:hover {
  transform: scale(1.05); /* Efeito de aumento ao passar o mouse */
}

.action-card h2 {
  margin: 0 0 10px 0;
}

.action-btn {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
}

.action-btn:hover {
  background-color: #0056b3;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #343a40;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}
