body {
  font-family: "Roboto", sans-serif;
  background-color: #e1e1e1;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #e1e1e1;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

h1 {
  display: block;
  font-size: 36px;
  color: #3b2110;
  margin-bottom: 20px;
}

p {
  display: block;
  font-size: 18px;
  color: #333;
  margin-top: 10px;
  word-wrap: break-word;
}
