@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #e1e1e1;
  color: #333;
}

/* Header */
header {
  background-color: #e1e1e1;
  padding: 20px;
}

.navbar {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 200px;
  width: auto;
  transition: 0.6s;
}

.logo img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

nav ul.menu {
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin-left: auto;
}

nav ul.menu li a {
  color: #3b2110;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.btn-area-cliente {
  background-color: #94b40b;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 16px;
  margin-left: 20px;
}

/* Hero Section */
.hero {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #e1e1e1;
}

.content {
  flex-basis: 50%;
  max-width: 50%;
}

h1 {
  font-size: 48px;
  color: #3b2110;
  margin-bottom: 20px;
}

p {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 30px;
  color: #94b40b;
}

.highlight {
  color: #556b2f;
  font-weight: bold;
}

.btn-cotar {
  background-color: #94b40b;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 16px;
}

.image {
  flex-basis: 50%;
  max-width: 60%;
}

.image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .content {
    max-width: 100%;
    margin-bottom: 30px;
  }

  .image {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 36px;
  }

  p {
    font-size: 20px;
  }

  .btn-cotar {
    padding: 10px 20px;
    font-size: 16px;
  }
}
