<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adicionar Sensores | eBoi</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style-admin.css') }}"
    />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="logo">
          <a href="/"
            ><img
              src="{{ url_for('static', filename='images/logoeboiadmin.png') }}"
              alt="Logo eBoi"
          /></a>
        </div>
        <ul class="menu">
          <li><a href="/">Home</a></li>
        </ul>
        <a href="/logout" class="btn-area-cliente">Sair</a>
      </nav>
    </header>

    <main>
      <section class="hero-admin">
        <div class="content-admin">
          <h1>Adicionar Sensores</h1>
          <p>Preencha as informações do sensor abaixo:</p>
        </div>
        <form action="/salvar_sensor" method="POST" class="form-adicionar">
          <label for="nome">Nome do Sensor:</label>
          <input type="text" id="nome" name="nome" required />

          <label for="tipo">Tipo de Sensor:</label>
          <input type="text" id="tipo" name="tipo" required />

          <label for="localizacao">Localização:</label>
          <input type="text" id="localizacao" name="localizacao" required />

          <button type="submit" class="btn-cotar">Adicionar Sensor</button>
        </form>
      </section>
    </main>
  </body>
</html>
