{% extends "admin/admin_base.html" %} {% block title %}Painel de Administração |
eBoi{% endblock %} {% block styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/style-admin.css') }}"
/>
{% endblock %} {% block content %}
<section class="hero-admin">
  <div class="content-admin">
    <h1>Painel de Administração</h1>
    <p>Gerencie usuários e dispositivos a partir desta página.</p>
  </div>
  <div class="admin-actions">
    <div class="action-card">
      <h2>Registrar Usuário</h2>
      <p>Adicione um novo usuário ao sistema.</p>
      <a href="/admin/registrar_usuario" class="btn-cotar">Registrar</a>
    </div>
    <div class="action-card">
      <h2>Registrar Dispositivo</h2>
      <p>Adicione um novo dispositivo ao sistema.</p>
      <a href="/admin/registrar_dispositivos" class="btn-cotar">Registrar</a>
    </div>
    <div class="action-card">
      <h2>Editar/Excluir Usuário</h2>
      <p>Atualize ou exclua as informações de um usuário existente.</p>
      <a href="/admin/gerencia_usuario" class="btn-cotar">Editar</a>
    </div>
    <div class="action-card">
      <h2>Recuperar Usuários</h2>
      <p>Recuperar informações dos usuários.</p>
      <a href="/admin/recuperar_usuarios" class="btn-cotar">Recuperar</a>
    </div>
    <div class="action-card">
      <h2>Editar Atuadores</h2>
      <p>Editar atuadores.</p>
      <a href="/admin/gerencia_atuador" class="btn-cotar">Editar</a>
    </div>
    <div class="action-card">
      <h2>Editar Sensores</h2>
      <p>Editar sensores.</p>
      <a href="/admin/gerencia_sensor" class="btn-cotar">Editar</a>
    </div>
  </div>
</section>
{% endblock %}
