<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}eBoi{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    {% block styles %}{% endblock %}
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="logo">
          <a href="/"
            ><img
              src="{{ url_for('static', filename='images/logoeboiadmin.png') }}"
              alt="Logo eBoi"
          /></a>
        </div>
        <ul class="menu">
          <li><a href="/">Home</a></li>
        </ul>
        <a href="/auth/logout" class="btn-logout">Sair</a>
      </nav>
    </header>

    <main>{% block content %}{% endblock %}</main>

    {% block scripts %}{% endblock %}
  </body>
</html>
