<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAQ | eBoi</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style-home.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style-others.css') }}"
    />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="logo">
          <a href="/home"
            ><img
              src="{{ url_for('static', filename='images/logoeboi.png') }}"
              alt=""
          /></a>
        </div>
        <ul class="menu">
          <li><a href="/home">Início</a></li>
          <li><a href="/sobre-nos">Sobre nós</a></li>
          <li><a href="/cotar">Cotar</a></li>
          <li><a href="/faq">FAQ</a></li>
        </ul>
        <a href="/login" class="btn-area-cliente">Área do Cliente</a>
      </nav>
    </header>

    <section class="faq">
      <div class="content">
        <h1>Perguntas Frequentes</h1>
        <p>
          Aqui você encontrará respostas para as perguntas mais comuns sobre
          nossos serviços.
        </p>

        <div class="faq-item">
          <h2>1. Como funciona o monitoramento?</h2>
          <p>
            O monitoramento é feito em tempo real através de dispositivos que
            você pode instalar nos seus animais.
          </p>
        </div>
        <div class="faq-item">
          <h2>2. Posso acompanhar a localização dos meus animais?</h2>
          <p>
            Sim! Você pode acompanhar a localização dos seus animais através do
            nosso aplicativo.
          </p>
        </div>
        <div class="faq-item">
          <h2>3. É possível cancelar o serviço?</h2>
          <p>
            Sim, você pode cancelar o serviço a qualquer momento através da sua
            conta no aplicativo.
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
