<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sobre Nós | eBoi</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style-home.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style-others.css') }}"
    />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="logo">
          <a href="/"
            ><img
              src="{{ url_for('static', filename='images/logoeboi.png') }}"
              alt=""
          /></a>
        </div>
        <ul class="menu">
          <li><a href="/">Início</a></li>
          <li><a href="/eboi/sobre-nos">Sobre nós</a></li>
          <li><a href="/eboi/cotar">Cotar</a></li>
          <li><a href="/eboi/faq">FAQ</a></li>
        </ul>
        {% if usuario_tipo == 'admin' %}
        <a href="/admin" class="btn-area-cliente">Área do Admin</a>
        {% else %}
        <a href="/eboi/perfil" class="btn-area-cliente">Área do Cliente</a>
        {% endif %}
      </nav>
    </header>

    <section class="sobre-nos">
      <div class="content">
        <h1>Sobre Nós</h1>
        <p>
          A eBoi é uma empresa dedicada ao monitoramento de animais,
          proporcionando segurança e bem-estar aos criadores.
        </p>
        <p>
          Nossa missão é inovar na forma como os criadores acompanham a saúde e
          a localização dos seus animais, utilizando tecnologia de ponta.
        </p>
        <p>Junte-se a nós e faça parte dessa revolução no cuidado animal!</p>
      </div>
    </section>
  </body>
</html>
